/* Compiled Styleguide for B&C Exchange GUI client */
QMainWindow {
  background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #f9f9ff, stop:0.5 #f8f8f8, stop:1 #f9f9ff); }

QToolBar {
  background-color: #2c4055;
  height: 125px;
  border-bottom: 4px solid #3bba85; }

QToolBar > .toolbarSpacer {
  min-width: 125px;
  background: url(:/images/res/images/augeascreditslogotext) no-repeat;
  border: 1px solid transparent;
  border-bottom: 3px solid #3bba85;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 40px; }

QToolBar > QToolButton {
  border: 0px;
  background-color: #2c4055;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px;
  height: 15px;
  font-size: 12px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px; }

QToolBar > QToolButton:checked {
  border-bottom: 2px solid #3bba85;
  color: white;
  margin-top: 17px;
  margin-bottom: 15px;
  height: 15px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px; }

QToolBar > QToolButton:checked:hover {
  background-color: #1e2c3a; }

QToolBar > QToolButton:hover {
  background-color: #1e2c3a; }

QGroupBox {
  background: transparent;
  color: black; }

QTableView {
  selection-background-color: #c2efff;
  selection-color: black; }

QPushButton {
  background-color: #1e2c3a;
  border: 1px solid #1e2c3a;
  border-radius: 3px;
  font-weight: 600;
  color: white;
  padding: 4px; }

QPushButton:hover {
  background-color: #1e2c3a; }

QPushButton:disabled {
  background-color: #dddddd;
  color: #9f9f9f;
  border: 1px solid #9f9f9f; }

QLabel {
  background-color: transparent; }

QCheckBox {
  background-color: transparent; }

QDialog {
  background-color: #f8f8f8; }

QDoubleSpinBox {
  background-color: white; }

QLineEdit {
  background-color: white; }

QMessageBox {
  background-color: #f8f8f8; }

QSizeGrip {
  background-color: #2c4055; }

QStatusBar {
  color: white;
  background-color: #2c4055; }

QStatusBar .progressBarLabel {
  color: #ffffff; }

QStatusBar > .statusBarStyle {
  color: #ffffff;
}

QTimeEdit {
  background-color: #f8f8f8; }

QToolButton {
  background-color: #1e2c3a;
  border: 1px solid #1e2c3a; }

QToolButton:hover {
  background-color: #1e2c3a; }

QToolButton:disabled {
  background-color: #dddddd;
  border: 1px solid #9f9f9f; }

QToolTip {
  background-color: #f8f8f8;
  color: block;
  border: 0px; }

QProgressBar {
  max-height: 25px;
}

.switchUnitToggleBtn {
  color: #3bba85;
}
